/*--variables-selectors--*/
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-font-family: Roboto, sans-serif;
  --secondary-font-family: Raleway, sans-serif;
  --accent-color: #2196f3;
}
/*--body-style--*/
.body {
  background: #e5e5e5;
  width: 1600px;
}
.link {
  list-style: none;
  text-decoration: none;
}
.nav-link.current {
  color: var(--accent-color);
}
/*--header-style--*/
.header {
  background-color: #fff;
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  border-top: 1px solid #ececec;
  border: 1px solid #ececec;
}
.nav-accent:hover {
  color: var(--accent-color);
}
.nav-accent:focus {
  color: var(--accent-color);
}
/*--logo-style--*/
.logo-web-studio {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  letter-spacing: 0.03em;
}
.logo-text-web {
  color: #2196f3;
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
}
.logo-text-studio {
  color: var(--primary-text-color);
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
}
/*--navigatios-style--*/
.navigations {
  width: 294px;
  height: 16px;
  left: 453px;
  top: 32px;
  }
.studio-button {
  position: absolute;
  width: 49px;
  left: 453px;
  top: 32px;
  letter-spacing: 0.02em;
}
.portfolio-button {
  position: absolute;
  width: 77px;
  left: 552px;
  top: 32px;
  letter-spacing: 0.02em;
}
.our-contacts-button {
  position: absolute;
  width: 68px;
  left: 679px;
  top: 32px;
  letter-spacing: 0.02em;
}
/*--nav-contacts--style--*/

.nav-contact-mail {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
  letter-spacing: 0.02em;
}
.nav-contacts-text {
  color: var(--secondary-text-color);
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
}
.nav-contact-tel {
  position: absolute;
  height: 16px;
  left: 1263px;
  top: 32px;
  letter-spacing: 0.02em;
}
.nav-text-buttons {
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
}
/*--INDEX-PAGE--*/

/*--section-hero--*/
.section-hero {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;

  background: #2f303a;
}
.title-hero {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 200px;
}
.text-hero {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.button-hero {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 400px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.position-text-button {
  height: 30px;
  left: 732px;
  top: 410px;
}
.name-button {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.text-sections {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(primary-text-color);
}

/*section-best-items--*/

.section-best-item {
  width: 1170px;
  height: 101px;
  left: 215px;
  top: 774px;
}
.item-about-attention {
  position: absolute;
  width: 270px;
  height: 101px;
  left: 215px;
  top: 774px;
}
.item-attention-position {
  width: 270px;
  height: 16px;
  left: 215px;
  top: 774px;
}
.text-name-item {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(primary-text-color);
}
.about-attention-position {
  width: 270px;
  height: 75px;
  left: 215px;
  top: 800px;
}
.text-about-item {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.item-about-punctuality {
  position: absolute;
  width: 270px;
  height: 101px;
  left: 515px;
  top: 774px;
}
.item-punctuality-position {
  width: 270px;
  height: 16px;
  left: 515px;
  top: 774px;
}
.about-punctuality-position {
  width: 270px;
  height: 75px;
  left: 515px;
  top: 800px;
}
.item-about-planing {
  position: absolute;
  width: 270px;
  height: 101px;
  left: 815px;
  top: 774px;
}
.item-planing-position {
  width: 270px;
  height: 16px;
  left: 815px;
  top: 774px;
}
.text-planing-position {
  width: 270px;
  height: 75px;
  left: 815px;
  top: 800px;
}
.item-about-tech {
  position: absolute;
  width: 270px;
  height: 101px;
  left: 1115px;
  top: 774px;
}
.item-tech-position {
  width: 270px;
  height: 16px;
  left: 1115px;
  top: 774px;
}
.text-tech-position {
  width: 270px;
  height: 75px;
  left: 1115px;
  top: 800px;
}
/*--our-work-section--*/
.section-our-work {
  width: 1170px;
  height: 386px;
  left: 215px;
  top: 969px;
}
.title-our-work {
  position: absolute;
  height: 42px;
  left: 612px;
  top: 969px;
}
.work-websites-position {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1061px;
}
.note-work-websites {
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1061px;
}
.work-adaptaion-position {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 615px;
  top: 1061px;
}
.note-work-adaptaion {
  width: 370px;
  height: 294px;
  left: 615px;
  top: 1061px;
}
.img-work-adaptaion {
  background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg);
}
.work-correction-position {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 1061px;
}
.note-work-correction {
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 1061px;
}
.img-work-correction {
  background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);
}

/*--staff-section-style--*/
.section-staff {
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;
  background: #f5f4fa;
}
.title-our-staff {
  position: absolute;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;
}
.name-staff {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(primary-text-color);
}
.about-staff {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.staff-product-designe {
  position: absolute;
  width: 270px;
  height: 368px;
  left: 215px;
  top: 1635px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.img-igor-position {
  width: 270px;
  height: 260px;
  left: 215px;
  top: 1635px;
  background: url(4853.jpg);
  border-radius: 0px;
}
.text-name-igor {
  height: 19px;
  left: 275px;
  top: 1925px;
}
.text-about-igor {
  height: 19px;
  left: 285px;
  top: 1954px;
}
.staff-frontend {
  position: absolute;
  width: 270px;
  height: 368px;
  left: 515px;
  top: 1635px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.img-olga-position {
  width: 270px;
  height: 260px;
  left: 515px;
  top: 1635px;

  background: url(5844.jpg);
  border-radius: 0px;
}
.text-name-nikolay {
  height: 19px;
  left: 596px;
  top: 1925px;
}
.text-about-olga {
  height: 19px;
  left: 577px;
  top: 1954px;
}
.staff-marketing {
  position: absolute;
  width: 270px;
  height: 368px;
  left: 815px;
  top: 1635px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.img-nikolay-position {
  width: 270px;
  height: 260px;
  left: 815px;
  top: 1635px;

  background: url(16166.jpg);
  border-radius: 0px;
}
.text-name-nikolay {
  height: 19px;
  left: 882px;
  top: 1925px;
}
.text-about-nikolay {
  height: 19px;
  left: 912px;
  top: 1954px;
}
.staff-ua-designer {
  position: absolute;
  width: 270px;
  height: 368px;
  left: 1115px;
  top: 1635px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.img-michael-position {
  width: 270px;
  height: 260px;
  left: 1115px;
  top: 1635px;

  background: url(2968.jpg);
  border-radius: 0px;
}
.text-name-michael {
  height: 19px;
  left: 1183px;
  top: 1925px;
}
.text-about-michael {
  height: 19px;
  left: 1207px;
  top: 1954px;
}

/*--footer-style--*/
.footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
  background: #2f303a;
}
.footer-logo {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 2157px;
}
.text-web-footer {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.text-studio-footer {
  color: #fff;
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
}
.contacts-footer {
  height: 81px;
  left: 215px;
  top: 2208px;
}
.address-footer-position {
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2208px;
}
.text-address-footer {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.text-contacts-footer {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.contacts-mail-footer {
  height: 21px;
  left: 215px;
  top: 2238px;
}
.contacts-tel-footer {
  height: 21px;
  left: 215px;
  top: 2268px;
}

/*--PORTFOLIO-SECTION--*/

/*--header-portfolio-*/
.body-portfolio {
  position: relative;
  width: 1600px;
  height: 1880px;
  background: #ffffff;
}
.main-portfolio {
  position: absolute;
  width: 1170px;
  height: 1360px;
  left: 215px;
  top: 174px;
}
/*--buttons-style--*/
.nav-button:hover {
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.nav-button:focus {
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.text-bt {
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
}
.text-bt:hover {
  color: #ffffff;
}
.text-bt:focus {
  color: #ffffff;
}
.button-all-position {
  position: absolute;
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}
.position-text-all {
  height: 26px;
  left: 517px;
}
.button-web-sites-position {
  position: absolute;
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}
.position-text-websites {
  height: 26px;
  left: 598px;
}
.button-applications-position {
  position: absolute;
  width: 145px;
  height: 38px;
  left: 712px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}
.position-text-applications {
  height: 26px;
  left: 734px;
}
.button-designe-position {
  position: absolute;
  width: 103px;
  height: 38px;
  left: 865px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}
.position-text-designe {
  height: 26px;
  left: 887px;
}
.button-marketing-position {
  position: absolute;
  width: 130px;
  height: 38px;
  left: 976px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}
.position-text-marketing {
  height: 26px;
  left: 998px;
}
/*--portfolio-photos--*/

.nav-card {
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.nav-img {
  width: 370px;
  height: 294px;
}
.text-img {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.name-img {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.position-card-technokryak {
  left: 215px;
  top: 262px;
}
.position-img-technokryak {
  left: 215px;
  top: 262px;
  background: url(portfolio1.jpg);
}
.title-position-technokryak {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 239px;
  top: 576px;
}
.name-position-technokryak {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 239px;
  top: 616px;
}
.position-card-poster {
  left: 615px;
  top: 262px;
}
.position-img-poster {
  left: 615px;
  top: 262px;
  background: url(portfolio2.jpg);
}
.title-position-poster {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 639px;
  top: 576px;
}
.name-position-poster {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 639px;
  top: 616px;
}
.position-card-seafood-restr {
  left: 1015px;
  top: 262px;
}
.position-img-seafood-restr {
  left: 1015px;
  top: 262px;
  background: url(portfolio-1.jpg);
}
.title-position-seafood-restr {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 1039px;
  top: 576px;
}
.name-position-seafood-restr {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 1039px;
  top: 616px;
}
.position-card-prj-prime {
  left: 215px;
  top: 696px;
}
.position-img-prj-prime {
  left: 215px;
  top: 696px;
  background: url(portfolio-2.jpg);
}
.title-position-prj-prime {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 239px;
  top: 1010px;
}
.name-position-prj-prime {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 239px;
  top: 1050px;
}
.position-card-prj-boxes {
  left: 615px;
  top: 696px;
}
.position-img-prj-boxes {
  left: 615px;
  top: 696px;
  background: url(portfolio5.jpg);
}
.title-position-prj-boxes {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 639px;
  top: 1010px;
}
.name-position-prj-boxes {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 639px;
  top: 1050px;
}
.position-card-inspiration {
  left: 1015px;
  top: 696px;
}
.position-img-inspiration {
  left: 1015px;
  top: 696px;
  background: url(111.jpg);
}
.title-position-inspiration {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 1039px;
  top: 1010px;
}
.name-position-inspiration {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 1039px;
  top: 1050px;
}

.position-card-limited {
  left: 215px;
  top: 1130px;
}
.position-img-limited {
  left: 215px;
  top: 1130px;
  background: url(portfolio7.jpg);
}
.title-position-limited {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 239px;
  top: 1444px;
}
.name-position-limited {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 239px;
  top: 1484px;
}
.position-card-prj-lab {
  left: 615px;
  top: 1130px;
}
.position-img-prj-lab {
  left: 615px;
  top: 1130px;
  background: url(portfolio8.jpg);
}
.title-position-prj-lab {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 639px;
  top: 1444px;
}
.name-position-prj-lab {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 639px;
  top: 1484px;
}
.position-card-growing {
  left: 1015px;
  top: 1130px;
}
.position-img-growing {
  left: 1015px;
  top: 1130px;
  background: url(2910404.jpg);
}
.title-position-growing {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 1039px;
  top: 1444px;
}
.name-position-growing {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 1039px;
  top: 1484px;
}
