/*--variables-selectors--*/
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-font-family: Roboto, sans-serif;
  --secondary-font-family: Raleway, sans-serif;
  --accent-color: #2196f3;
  --background-origin: #ffffff;
  --background-first-composite: #2F303A;
  --background-second-composite: #F5F4FA;
}
/*--body-style--*/
.body {
font-family: var(--primary-font-family), var(--secondary-font-family),sans-serif;
font-style: normal;
  background: #e5e5e5;
  width: 1600px;
}
.link {
  list-style: none;
  text-decoration: none;
}
